
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header_item-list">
                <li class="main-header_item active"><a href="/">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>