extends layouts/main-layout.pug

block content
    main 
        .grid 
            article.card.product-item 
                header.card_header 
                    h1.product_title Great Book
                .card_content 
                    h2.product_price $19.99
                    p.product_description An interesting and best selling book
                .card-action 
                    button.btn Add to Cart
